html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  padding: 20px;
  background-color: #E7EFF6;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

h2, h3, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  overflow: hidden;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
  background-color: #FAFAFA;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  height: 100%;
  background-color: #2BB4B1;
  padding: 25px;
  flex-basis: 50%;
}

#bottom-right-section {
  height: 100%;
  background-color: #49BEBD;
  padding: 25px;
  flex-basis: 50%;
}

#top-section h3 {
  color: #2ab2af;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 20px;
}

#top-section p {
  color: #98a6bd;
  line-height: 1.4;
}

button {
  color: white;
  background-color: #BEDF32;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
}

button:hover {
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.01);
}

#price {
  font-weight: 700;
  font-size: 1.5rem;
}

#bottom-section h3 {
  margin-bottom: 25px
}

#bottom-section p {
  font-size: 0.9rem;
  margin-bottom: 40px
}

#price-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#price-frequency {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-left: 5px;
}

#bottom-right-section ul {
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  opacity: 0.7;
  line-height: 1.5;
}

@media (min-width: 576px) {
  #card {
  width: 550px;
  height: 440px;
  }
  
  #bottom-section {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  #card {
  width: 630px;
  }
}